.git
.github
.idea
.venv
venv
env
ENV
__pycache__
**/__pycache__
*.py[cod]
.env
.env.*
!.env.example
.DS_Store
*.log
htmlcov
.coverage
.coverage*
.pytest_cache
.mypy_cache
.pyright
.toml
.tox
.nox
*.md
