# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
build/
dist/
.eggs/
*.egg
*.manifest
*.spec

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# System files
Thumbs.db
Desktop.ini

# Environment variables
.env

# Streamlit
.streamlit
!.streamlit/config.toml

# Logs
*.log

# Test output
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# Pyright type checker
.pyright/

# Pytest
.pytest_cache/

# Coverage reports
.coverage*

# Other
*.bak
*.swp
*.swo
